density:
  basis: linear
  gradient scale length: 200.000 um
  max: 0.28
  min: 0.18
  noise:
    max: 1.0e-09
    min: 1.0e-10
    type: uniform
drivers:
  E0:
    delta_omega_max: 0.005
    envelope:
      tc: 200.25ps
      tr: 0.1ps
      tw: 4000ps
      xc: 50um
      xr: 0.2um
      xw: 1000um
      yc: 50um
      yr: 0.2um
      yw: 1000um
    num_colors: 32
    params:
      amplitudes:
        activation: log
        bounded: false
        init: uniform
        learned: true
      phases:
        init: random
        learned: true
        seed: 42
    shape: smooth_arbitrary
grid:
  boundary_abs_coeff: 1
  boundary_width: 3.0um
  dt: 3.854 fs
  dx: 68.2 nm
  low_pass_filter: 0.66
  tmax: 100ps
  tmin: 0.0ns
  ymax: 6um
  ymin: -6um
mlflow:
  experiment: learn-tpd-100ps
  export: 'True'
  run: epoch-33-validation-temperature=3066.7-gsl=200.0
opt:
  batch_size: 1
  cache_cleanup_interval: 1
  decay_steps: 100000
  learning_rate: 0.1
  method: optax
  metric_time_in_ps: 98.5
parsl:
  nodes: 4
  provider: gpu
  walltime: 43200
save:
  fields:
    t:
      dt: 0.5ps
      tmax: 100ps
      tmin: 0ps
    x:
      dx: 80nm
    y:
      dy: 80nm
solver: envelope-2d
terms:
  epw:
    boundary:
      x: absorbing
      y: periodic
    damping:
      collisions: 0.1
      landau: true
    density_gradient: true
    hyperviscosity:
      coeff: 1.0e-4
      order: 6
    linear: true
    source:
      noise: true
      srs: false
      tpd: true
  zero_mask: true
training data:
  num_gradient_scale_lengths: 1
  num_temperatures: 16
units:
  atomic number: 40
  envelope density: 0.25
  intensity factor: '1.283'
  ionization state: 6
  laser intensity: 8.14e+14 W/cm^2
  laser_wavelength: 351nm
  reference electron temperature: 3066.670 eV
  reference ion temperature: 1000eV

training data:
  num_temperatures: 4
  num_gradient_scale_lengths: 4

validation:
  temperatures: [2000.0, 4000.0]
  gradient_scale_lengths: [200.0, 600.0]
  temperatures_per_epoch: 2
  gradient_scale_lengths_per_epoch: 2
  intensity_scan:
    num_samples: 4
    max_total_samples: 16
